<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<section class="members-page">
				<div class="members-title title">
					<h1>טרפול <small>פוליטיקה שקופה</small></h1>
					{{fb-like shareLink="http://trapol.us/about"}}
				</div>

				<section class="about-us container-fluid">
					<div class="row">
						<div class="col-xs-12">
							<h3>מה זה האתר הזה?</h3>
							<p>
								<strong>טרפול מספק ציון אוביקטיבי עבור כל <a id="ember361" class="ember-view" href="/members">חבר כנסת</a> ו<a id="ember362" class="ember-view" href="/parties">מפלגה</a>.</strong><br>
								רוצים לדעת איך זה עובד? תמשיכו לקרוא...
							</p>
							<p>
								המטרה שלנו היא להראות לחברי הכנסת שאנחנו כן מחלקים להם ציונים! <br>

כפי שחלקיכם יודעים מדינת ישראל עשתה בשנים האחרונות שיפור גדול בנושא השקיפות וקבעה, כיום זמינים לנו שירותים אשר מספקים מידע רב באמצעותו אנו יכולים לשקף לציבור מה באמת קורה בפוליטיקה שלנו. <br> בין השירותים הזמינים כיום תוכלו למצוא את אתר <a href="https://oknesset.org/" target="_blank">הכנסת הפתוחה</a> בו תמצאו מידע רחב אודות כל ח"כ ומפלגה בישראל.<br>

							</p>
						</div>
						<div class="col-xs-12">
							<h3>אז איך זה עובד?</h3>
							<p>
								המטרה שלנו היא להראות לחברי הכנסת שאנחנו כן מחלקים להם ציונים! <br>

כפי שחלקיכם יודעים מדינת ישראל עשתה בשנים האחרונות שיפור גדול בנושא השקיפות וקבעה, כיום זמינים לנו שירותים אשר מספקים מידע רב באמצעותו אנו יכולים לשקף לציבור מה באמת קורה בפוליטיקה שלנו. <br> בין השירותים הזמינים כיום תוכלו למצוא את אתר <a href="https://oknesset.org/" target="_blank">הכנסת הפתוחה</a> בו תמצאו מידע רחב אודות כל ח"כ ומפלגה בישראל.<br>

באמצעות המידע שניתן לנו אנחנו יכולים לדעת כמה משקיע כל חבר כנסת בחובותיו כנציג ציבור. המידע הרלוונטי מתחלק ל-
<span class="label label-info">ממוצע נוכחות שבועי במליאה</span>, 
<span class="label label-info">ממוצע נוכחות חודשי בוועדות</span>, 
<span class="label label-info">מספר הצעות חוק שהוצעו</span> 
ו-<span class="label label-info">מספר הצעות חוק שעברו בכנסת</span><br>

אנו לוקחים את המידע והופכים אותו לציון על-ידי כך שאנו משווים בין הביצועים של ח"כ בנושא מסויים לבין הביצועים של שאר חברי הכנסת. <br>מועמד שבלט לדוגמה במספר הצעות החוק שהתקבלו יקבל תוספת לציון. הציון משוכלל מכל המרכיבים הנ"ל.<br>

בהמשך אנו משכללים את הציונים של כל הח"כים החברים במפלגה מסויימת כדי לקבוע ציון מפלגתי. את הציון המפלגתי ניתן למצוא בעמוד המפלגות.

האתר מחולק ל-2 אזורים מרכזיים: <strong>חברי כנסת</strong> ו-<strong>מפלגות</strong>.
<br>
בכל אחד מהאזורים ניתן למצוא כרטיסיה עבור כל ח"כ\מפלגה אשר מציגה את הציון, ופרטים נוספים. <br>לחיצה על כרטיסייה תוביל לעמוד בו ניתן לראות מידע מפורט יותר והשוואה בין הביצועים הספציפיים למומצעים הכללים.



							</p>

							<h4>דוגמה:</h4>
							<div id="ember1948" class="ember-view member col-xs-12 col-md-4 col-lg-3">
								<div class="member-container">
									<div class="member-inner">
										<a id="ember1949" class="ember-view" href="/members/780">
											<div class="front" style="background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRNRiXBNmWzCspIDXLnYLyFio_0w-Jz_tDGQI3UdzSWpaQzhG3b);">
												<span class="party-logo label label-info">לוגו מפלגה</span>
												<div class="name">
													<span class="badge">דירוג</span> שם
													<h3 class="grade">
														100
													</h3>
												</div>
											</div>	
										</a>	
									</div>
								</div>
							</div>
						</div>

						<div class="col-xs-12">
							<h3>למה?</h3>
							<p>
								התשובה היא מאוד פשוטה, נמאס לנו!<br>
אנחנו רוצים להיות חלק מהמאמץ לגרום לחברי הכנסת שלנו להשקיע בנו באמת, לא רק להתחייב ואז ביום שאחרי הבחירות להעלם ל-4 שנים אלא להשקיע בנו במשך כל זמן כהונתם. <br>
לאתר אין "מודל כלכלי" והוא לא רווחי בשום צורה. אנחנו לא ממומנים על-ידי אף בעל הון.<br> 
כפי שניתן להבחין אין פה פרסומות או מעברונים. המטרה היחידה שלשמה האתר נוצר היא כדי לספק לציבור מידע לספק כלי המשקף תמונת מצב ברורה יותר. <br>
נשמח מאוד אם תשתפו את האתר ברשתות החברתית כדי שלעבודה שלנו יהיה הד ובאמת נוכל להשפיע.<br>
תודה!<br> 
יהונתן גולדפרב ואייל אלה
							</p>
							{{fb-like shareLink="http://trapol.us/about"}}
						</div>
					</div>
				</section>
			</section>

		</div>
	</div>
</div>
