<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h1>פוליטיקה שקופה</h1>
			<h3>מטרת האתר</h3>
			<p>
			מטרת האתר היא להציג באופן שקוף, זמין ואובייקטיבי תמונת מצב של תפקוד חברי הכנסת בישראל.<br>
			למרות העבודה הרבה שנעשתה בתחום השקיפות והנגישות למידע, רוב הציבור עדיין לא נחשף למידע זה.<br> 
			לכן החלטנו ליצור מדד אובייקטיבי שמסתמך על נתונים מספריים, שיאפשר לזהות בקלות מי מחברי הכנסת פעיל, יוזם ומשקיע בציבור ומי… פחות.<br>
			שאיפתנו היא שכל חבר כנסת ידע שאם הוא לא עושה את עבודתו נאמנה, יש ביכולת הציבור והתקשורת לדעת על כך.<br>
			תפקוד חברי הכנסת יתבטא בציון הניתן לו באתר (המורכב ממספר מדדים שמיד נסביר עליהם), הציון מתעדכן מדי יום ולכן המטרה היא שחברי הכנסת ישאפו לשפר את ציונם בכל עת.<br>
			אנו מקווים שאם תפקוד חברי הכנסת יונגש באופן פשוט וזמין לציבור הרחב יהיה בכך כדי לתמרץ את חברי הכנסת להשתפר בתפקידם וכן אנו מקווים שיהיה בכך כדי להקנות לציבור כלי מדרג שישמש אותו בהערכת מועמדיו ונבחריו, וכמובן בלכתו לקלפי.
			</p>

			<h4>
				דוגמה
			</h4>
			<div class="member col-xs-12 col-md-4 col-lg-3" style="float:none;">
				<div class="member-container">
					<div class="member-inner">
						<a class="ember-view">
							<div class="front" style="background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRNRiXBNmWzCspIDXLnYLyFio_0w-Jz_tDGQI3UdzSWpaQzhG3b);">
								<span class="party-logo label label-info">לוגו מפלגה</span>
								<div class="name">
									<span class="badge">דירוג</span> שם
									<h3 class="grade">
										100
									</h3>
								</div>
							</div>	
						</a>	
					</div>
				</div>
			</div>

			<h3>חישוב הציון</h3>
			<p>
			הציון של חברי הכנסת מחושב על בסיס הפרמטרים הבאים:<br> 
			ממוצע נוכחות שבועי במליאה, ממוצע נוכחות חודשי בוועדות, מספר הצעות חוק שהוצעו ו-מספר הצעות חוק שעברו בכנסת.<br>
			הציון של המפלגות מחושב כממוצע ציוני חברי הכנסת שלהן.<br>
			את כל הפרטים האלה אנחנו שולפים מאתר <a href="https://oknesset.org/" target="_blank">הכנסת הפתוחה</a>. הציון מתחשב מחדש כל יום כדי שתמונת המצב תישאר עדכנית. 
			</p>

			<p><strong>
			חשוב להדגיש שאנחנו לא מקדמים אף מפלגה או מועמד והאתר אינו למטרות רווח.<br>
			מטרתנו היא שקיפות ובהתאם לכך גם כל הקוד של אתר זה (כולל פונקציית חישוב הציון) פתוח וזמין לציבור <a href="https://github.com/brafdlog/transparentPolitics" target="_blank">כאן</a>.<br>
			כמו כן, הציון מחושב על פי מדדים של עבודת חבר כנסת ולכן, באופן טבעי, שרים מקבלים ציונים נמוכים יותר כיוון שיש להם תפקידים נוספים מעבר להיותם חברי כנסת.
			</strong></p>

			<p>
			נשמח מאוד אם תשתפו את האתר ברשתות החברתית כדי שלעבודה שלנו יהיה הד ובאמת נוכל להשפיע.
			</p>

			{{fb-like shareLink="http://trapol.us/about"}}

		</div>
	</div>
</div>
