import java.util.List;

import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonInclude.Include;

@JsonIgnoreProperties(ignoreUnknown=true)
@JsonInclude(Include.NON_EMPTY)
public class {{ class_name|firstcase }} {
	
	{% for member in class_members -%}
		private {{ member.type|modeltype }} {{ member.name }};
	{% endfor -%}

	{% for member in class_members %}
	public {{ member.type|modeltype }} get{{ member.name|firstcase }}() {
		return this.{{ member.name }};
	}
	public void set{{ member.name|firstcase }}({{ member.type|modeltype }} value) {
		this.{{ member.name }} = value;
	}
	{%- endfor %}

}